<h3>Share your Favorite Recipes and help us expand our tastebuds!</h3>

<%= form_for([@category, @recipe]) do |f| %>
  <%= f.label :title %><br />
  <%= f.text_field :title %><br />

  <%= f.label :ingredients %><br />
  <%= f.text_area :ingredients %><br />

  <%= f.label :directions %><br />
  <%= f.text_area :directions %><br />

  <%= f.label :img_url %><br />
  <%= f.text_field :img_url %><br />

  <%= f.submit %>
  <% end %>
