<h2><%= @recipe.title %></h2>

  <div class="showrecipe">
    <img class="rimage" src="<%= @recipe.img_url %>">
      <h3>Ingredients</h3>
      <ul>
        <% @recipe.ingredients.split(", ").each do |i| %>
          <div style="white-space: pre-line;">
            <li><%= i %></li>
        <% end %>
        </div> 
      </ul>
      <h3>Directions</h3>
        <ul id="instructions">
            <% @recipe.directions.split(", ").each do |i| %>
              <div style="white-space: pre-line;">
                <li><%= i %></li>
              <% end %>
        </ul>
      </div>
  </div>

<h6><%= link_to "Edit Recipe", edit_recipe_path%> | <%= link_to "Delete Recipe", recipe_path, method: :delete %></h6>

<h4>Comments <%= link_to "New Comment", new_recipe_comment_path(@recipe) %></h4>

 <% @recipe.comments.each do |comment| %>
    <div>
      <h4><%= comment.title %></h4>
      <p><%= comment.body %></p>
      <h5><%= comment.author %>, <%= comment.updated_at %></h5>
      <% if (comment.user == current_user) && current_user %>
      <h6><%= link_to "Edit Comment", edit_recipe_comment_path(@recipe,comment) %>  | <%= link_to "Delete Comment", recipe_comment_path(@recipe, comment), method: :delete %></h6>
      <% end %>
    </div>
  <% end %>
