<h2 class="cname"><%= @category.name %></h2>

<%# if !current_user %>
  <h3 class="addrecipe"><%=link_to "Add Recipe", new_category_recipe_path(@category) %></h3>
<%# end %>

<% @category.recipes.each do |recipe| %>
<div class="recipe">
  <div class="food">
    <a href="/recipes/<%= recipe.id %>"><img class="rimage" src="<%= recipe.img_url %>"></a>
      <p class="rtitle"><%= recipe.title %></p>
  </div>
</div>


<%end %>
