<h2><%= @category.name %></h2>

<h3><%=link_to "Add Recipe", new_category_recipe_path(@category) %></h3>

<% @category.recipes.each do |recipe| %>
<div class="recipe">
  <h2><a href="/recipes/<%= recipe.id %>"><%= recipe.title %></a></h2>
  <%= image_tag recipe.img_url %>
</div>

    <% #if category.id == beverages %>
     <% %> 
<%end %>
